html{
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;  
}

body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #4b0614;
    font-size: 62.5%;
    display: block;
}

header,
main,
footer {
	background-color: #a8a4a4;
	font-size: 1.6em;
    padding: 1.875em 0;
}

main {
    padding: 1.875em 0;
    display: block;
}

h1 {
     font-size: 100px;
     text-align: center;
}

h2 {
    font-size: 50px;
    text-align: center;
}

article{
    display: block;
}

section{
    margin-top: 0;
    margin: 1.875em 0;
    display: block;
}

p{  
    font-size: 25px;
    padding: 1.25em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img{
    width: 500px;
    display: block;
    margin: 0 auto;  
}

figcaption{
    text-align: center;
}